<div class="login-box card card-login mx-auto mt-5">
		<div class="login-logo">
				<a href="../../index2.html"><b>Evaluator Login</b></a>
			</div>
	<!-- Custom Success/Error Message -->
	<div [ngClass]="messageClass">
    {{ message }}
	</div>
	
      <div class="card-body">
        <form [formGroup]="form" (submit)="onEvaluatorLoginSubmit()">
		
          <div class="form-group">
            <label for="evaluator_username">Evaluator username</label>
			<div [ngClass]="{'has-error': form.controls.evaluator_username.errors && form.controls.evaluator_username.dirty, 'has-success': form.controls.evaluator_username.valid && form.controls.evaluator_username.dirty }">
				<input class="form-control" type="text" name="evaluator_username" formControlName="evaluator_username" />
				<!-- Validation -->
				<ul style="color:red" class="help-block">
					<li *ngIf="form.controls.evaluator_username.errors?.required && form.controls.evaluator_username.dirty">This field is required.</li>
				</ul>
			</div>
		  </div>
		  
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
			<div [ngClass]="{'has-error': form.controls.evaluator_password.errors && form.controls.evaluator_password.dirty, 'has-success': form.controls.evaluator_password.valid && form.controls.evaluator_password.dirty }">
				<input class="form-control" type="password" name="evaluator_password" formControlName="evaluator_password" />
				<!-- Validation -->
				<ul style="color:red" class="help-block">
					<li *ngIf="form.controls.evaluator_password.errors?.required && form.controls.evaluator_password.dirty">This field is required.</li>
				</ul>
			</div>
		  </div>
		  
          <button [disabled]="!form.valid"  type="submit" class="btn btn-primary btn-block"  value="Login">Login</button>
		  
        </form>
      </div>
    </div>