<div class="content-wrapper" style="height:100%">
    <div class="container" style="height:100%">
        <section class="content-header" >

        </section>
        <section class="content">
                <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_4" data-toggle="tab">View Hosts</a></li>
                          <li><a href="#tab_5" data-toggle="tab">View Events</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_4">
                                <table class="table" >
                                        <thead>
                                            <tr>
                                                <th >Host</th>
                                                <th >Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let host of hosts'>
                                      
                                                <td>{{ host.host_username }}</td>
                                      <td>{{ host.host_email }}</td>
                                      <td><a (click)="deleteHost(host._id)" class="btn btn-xs btn-danger">Delete</a></td>
                                      
                                            </tr>
                                        </tbody>
                                      </table>
                            </div>
                            <div class="tab-pane" id="tab_5">
                                    <table class="table">
                                            <thead>
                                                <tr>
                                                    <th >Title</th>
                                                    <th >Host</th>
                                                    <th >Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let event of events'>
                                          
                                                    <td>{{ event.event_title }}</td>
                                                    <td>{{ event.host_username }}</td>
                                                    <td>{{ event.event_description }}</td>
                                                    <td><a (click)="deleteEvent(event._id)" class="btn btn-xs btn-danger">Delete</a></td>
                                          
                                                </tr>
                                            </tbody>
                                          </table>
                                </div>
                        </div>
                      </div>
                
                      <button class="btn btn-primary" routerLink="/host-register" routerLinkActive="active">Add Host</button>
                      <button class="btn btn-primary" routerLink="/evaluator-register" routerLinkActive="active">Add Evaluator</button>
                      <button class="btn btn-primary" routerLink="/add-event" routerLinkActive="active">Add Event</button>
                      
        </section>
    </div>
</div>

      

