<div class="content-wrapper">
    <div class="bg-navy-active color-palette">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <p style="font-size:500%"><i class="fa fa-laptop" aria-hidden="true"></i></p>
                </div>
                <div class="col-lg-11" style="line-height:100%">
                    <h1> {{ event.event_title }}</h1>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.display_time }}</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.location }}</p>
                </div>

            </div>

        </div>
    </div>
    <div class="container">
        <section class="content">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">OVERVIEW</a></li>
                    <li><a href="#tab_2" data-toggle="tab">SCHEDULE</a></li>
                    <li><a href="#tab_3" data-toggle="tab">RULES</a></li>
                    <li><a href="#tab_4" data-toggle="tab">PRIZES</a></li>
                    <li><a href="#tab_5" data-toggle="tab">JUDGING</a></li>
                    <li *ngIf="isRegistered"><a href="#tab_6" data-toggle="tab">TEAM</a></li>
                    <li *ngIf="isRegistered && event.archived == 'false' "><a href="#tab_7" data-toggle="tab">SUBMIT ARTIFACTS</a></li>
                    <li *ngIf="isRegistered"><a href="#tab_8" data-toggle="tab">SUBMISSIONS</a></li>
                    <li *ngIf="event.archived == 'true'"><a href="#tab_9" data-toggle="tab">RESULT</a></li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-lg-3">
                                <button *ngIf="!isRegistered && event.archived == 'false'" [disabled]="isRegistered" data-toggle="tab"  [routerLink]="['/join-event', _id]"  class="btn btn-xs btn-primary" type="button" class="btn btn-block btn-primary btn-lg">JOIN EVENT</button>
                                <button *ngIf="isRegistered && event.archived == 'false' " [disabled]="isRegistered" class="btn btn-xs btn-primary" type="button" class="btn btn-block btn-danger btn-lg">JOINED</button>
                                <button *ngIf="event.archived == 'true'" disabled class="btn btn-xs btn-primary" type="button" class="btn btn-block btn-danger btn-lg">Event has ended</button>
                                
                                <br>
                                <div class="box-header with-border">
                                    <h3 class="box-title">Organizers</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <ul class="users-list clearfix">
                                        <li>
                                            <img src="assets/dist/img/user-128.png" alt="User Image">
                                            <a class="users-list-name" href="#">{{ event.host_username }}</a>
                                        </li>
                                    </ul>
                                    <!-- /.box-footer -->
                                </div>

                                <br>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Evaluators</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <ul class="users-list clearfix">
                                            <li *ngFor="let evaluator of evaluators">
                                                <img src="assets/dist/img/user-128.png" alt="User Image">
                                                <a class="users-list-name" href="#">{{ evaluator }}</a>
                                            </li>
                                        </ul>
                                        <!-- /.box-footer -->
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-9">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">About this Event</h3>
                                    </div>
                                    <div class="box-body">
                                        {{event.event_description}}
                                    </div>
                                    <!-- /.box-body -->
                                </div>

                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Prizes</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="text-align:center">
                                            <div *ngIf="event.prize1" class="col-lg-4 col-xs-6">
                                                <i style="font-size:500%" class="fa fa-trophy" aria-hidden="true"></i>
                                                <p>1'st</p>
                                                <h3>{{event.prize1}}</h3>
                                            </div>
                                            <div *ngIf="event.prize2" class="col-lg-4 col-xs-6">
                                                <i style="font-size:500%" class="fa fa-trophy" aria-hidden="true"></i>
                                                <p>2'nd</p>
                                                <h3>{{event.prize2}}</h3>
                                            </div>
                                            <div *ngIf="event.prize3" class="col-lg-4 col-xs-6">
                                                <i style="font-size:500%" class="fa fa-trophy" aria-hidden="true"></i>
                                                <p>3'rd</p>
                                                <h3>{{event.prize3}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>

                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Schedule</h3>
                                    </div>
                                    <div class="box-body">
                                    </div>
                                    <!-- /.box-body -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                     </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                    </div>

                    <div class="tab-pane" id="tab_4">
                    </div>

                    <div class="tab-pane" id="tab_5">
                    </div>

                    <div class="tab-pane" id="tab_6">
                        <h2 class="page-header">Team Name - {{team.team_name}}</h2>
                        <div class="box-header with-border">
                            <h3 class="box-title">Members</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                <li *ngIf="team.member1">
                                    <img height="100px" width="50px" src="assets/dist/img/user-128.png" alt="User Image">
                                    <a class="users-list-name" href="#">{{ team.member1 }}</a>
                                </li>
                                <li *ngIf="team.member2">
                                    <img height="100px" width="50px" src="assets/dist/img/user-128.png" alt="User Image">
                                    <a class="users-list-name" href="#">{{ team.member2 }}</a>
                                </li>
                                <li *ngIf="team.member3">
                                    <img height="100px" width="50px"  src="assets/dist/img/user-128.png" alt="User Image">
                                    <a class="users-list-name" href="#">{{ team.member3 }}</a>
                                </li>
                            </ul>
                            <!-- /.box-footer -->
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_7">

                        <style>
                            .my-drop-zone {
                                border: dotted 3px lightgray;
                            }

                            .nv-file-over {
                                border: dotted 3px red;
                            }

                            /* Default class applied to drop zones on over */

                            .another-file-over-class {
                                border: dotted 3px green;
                            }

                            html,
                            body {
                                height: 100%;
                            }
                        </style>

                        

                            <div class="row">

                                <div class="col-md-3">

                                    <h3>Select files</h3>

                                    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                                        Base drop zone
                                    </div>

                                    <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="well my-drop-zone">
                                        Another drop zone
                                    </div>

                                    Multiple
                                    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/> Single
                                    <input type="file" ng2FileSelect [uploader]="uploader" />
                                </div>

                                <div class="col-md-9" style="margin-bottom: 40px">

                                    <h3>Upload queue</h3>
                                    <p>Queue length: {{ uploader?.queue?.length }}</p>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Name</th>
                                                <th>Size</th>
                                                <th>Progress</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploader.queue">
                                                <td><strong>{{ item?.file?.name }}</strong></td>
                                                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                <td *ngIf="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                      <span class="glyphicon glyphicon-upload"></span> Upload
                                                  </button>
                                                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                  </button>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                      <span class="glyphicon glyphicon-trash"></span> Remove
                                                  </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div>
                                        <div>
                                            Queue progress:
                                            <div class="progress" style="">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-s"  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                              <span class="glyphicon glyphicon-upload"></span> Upload all
                                          </button>
                                        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                          </button>
                                        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                              <span class="glyphicon glyphicon-trash"></span> Remove all
                                          </button>
                                    </div>

                                </div>

                            </div>

                        

                    </div>

                    <div class="tab-pane" id="tab_8">
                        <h2 class="page-header">Uploaded Files</h2>
                        <table  class="table table-bordered table-hover table-sm table-responsive"  >
                            <tbody>
                                <tr *ngFor='let file of files'>
                                    <td><a href="http://localhost:8080/{{file.file_name}}" target="_blank">{{file.file_name}}</a></td>
                                </tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="tab-pane" id="tab_9">
                        <div class="row">
                            <div class="col-md-4">
                                    <div>
                                            <div class="box-body box-profile">
                                              <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/team-128.png" alt="User profile picture">
                                
                                              <h3 class="profile-username text-center">{{event.winner1}}</h3>
                                
                                              <p class="text-muted text-center">Winner</p>
                                
                                            </div>
                                            <!-- /.box-body -->
                                    </div>
                                    
                            </div>
                            <div class="col-md-4">
                                    <div>
                                            <div class="box-body box-profile">
                                              <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/team-128.png" alt="User profile picture">
                                
                                              <h3 class="profile-username text-center">{{event.winner2}}</h3>
                                
                                              <p class="text-muted text-center">Second Position</p>
                                
                                            </div>
                                            <!-- /.box-body -->
                                    </div>
                                    
                            </div>
                            <div class="col-md-4">
                                    <div>
                                            <div class="box-body box-profile">
                                              <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/team-128.png" alt="User profile picture">
                                
                                              <h3 class="profile-username text-center">{{event.winner3}}</h3>
                                
                                              <p class="text-muted text-center">Third Position</p>
                                
                                            </div>
                                            <!-- /.box-body -->
                                    </div>
                                    
                            </div>
                        </div>
                    
                    
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>


        </section>

    </div>

</div>