<div class="card card-register mx-auto mt-5">
	<!-- Custom Success/Error Message -->
	<div [ngClass]="messageClass">
    {{ message }}
  </div>

    <div class="card-header">Configure Event</div>
    <div class="card-body">
      <form [formGroup]="form" (submit)="onConfigureRegisterSubmit()">
	  
        <div class="form-group">
        <label for="exampleInputUsername">Event Title</label>
        <div>
         <input class="form-control" [(ngModel)]="event.event_title" name="event_title" formControlName="event_title" id="event_title" type="text" placeholder="Enter Event Title">
         <ul class="help-block" style="color:red">
          <li *ngIf="form.controls.event_title.errors?.required && form.controls.event_title.dirty">This field is required</li>
          </ul>
          </div>
		    </div>
    
        <div class="form-group">
          <label for="exampleInputUsername">Host Name</label>
          <div>
            <input class="form-control" disabled [(ngModel)]="event.host_username" formControlName="host_username" name="host_username" type="text" ngModel="noption">
            </div>
          </div>
        
          
          <div class="form-group">
            <label for="exampleInputUsername">Event Description</label>
            <div>
             <input class="form-control" [(ngModel)]="event.event_description" name="event_description" formControlName="event_description" id="event_description" type="text" placeholder="Enter Event Description">
             <ul class="help-block" style="color:red">
              <li *ngIf="form.controls.event_description.errors?.required && form.controls.event_description.dirty">This field is required</li>
              </ul>
              </div>
            </div>

            <div class="form-group">
                <label for="start_date">Start Date</label>
                <div>
                 <input class="form-control" [(ngModel)]="event.start_date" name="start_date" formControlName="start_date" id="start_date" type="date" placeholder="Enter Start Date">
                 <ul class="help-block" style="color:red">
                  <li *ngIf="form.controls.start_date.errors?.required && form.controls.start_date.dirty">This field is required</li>
                  </ul>
                  </div>
            </div>

            <div class="form-group">
                <label for="end_date">End Date</label>
                <div>
                 <input class="form-control" [(ngModel)]="event.end_date" name="end_date" formControlName="end_date" id="end_date" type="date" placeholder="Enter End Date">
                 <ul class="help-block" style="color:red">
                  <li *ngIf="form.controls.end_date.errors?.required && form.controls.end_date.dirty">This field is required</li>
                  </ul>
                  </div>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <div>
                 <input class="form-control" [(ngModel)]="event.location" name="location" formControlName="location" id="location" type="text" placeholder="Enter Location">
                 <ul class="help-block" style="color:red">
                  <li *ngIf="form.controls.location.errors?.required && form.controls.location.dirty">This field is required</li>
                  </ul>
                  </div>
                </div>
          
            
                

        <div class="text-center">
       <button  [disabled]="!form.valid || processing" type="submit" class="btn btn-primary btn-block" value="submit">Register</button>
      </div>
      </form>
    </div>
  </div>
