<div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>
                                          Top Navigation
                                          <small>Example 2.0</small>
                                        </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Layout</a></li>
                    <li class="active">Top Navigation</li>
                </ol>
            </section>
    
            <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Configure Event</h3>
                    </div>
    
                    <div *ngIf="message" [ngClass]="messageClass">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i>{{ message }}</h4>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
    
                    <div class="box-body">
    
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="exampleInputUsername">Start Date and Time</label>
                                    <angular2-date-picker [ngModelOptions]="{standalone: true}" (onDateSelect)="onStartDateSelect($event)" [(ngModel)]="start" [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="exampleInputUsername">End Date and Time</label>
                                    <angular2-date-picker [ngModelOptions]="{standalone: true}" (onDateSelect)="onEndDateSelect($event)" [(ngModel)]="end" [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                        </div>
    
                        <form [formGroup]="form" (submit)="onConfigureRegisterSubmit()">
    
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputUsername">Event Title</label>
                                        <div>
                                            <input class="form-control" [(ngModel)]="event.event_title" name="event_title" formControlName="event_title" id="event_title" type="text" placeholder="Enter Event Title">
                                            <ul class="help-block" style="color:red">
                                                <li *ngIf="form.controls.event_title.errors?.required && form.controls.event_title.dirty">This field is required</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputUsername">Host Name</label>
                                        <div>
                                            <input class="form-control" disabled [(ngModel)]="event.host_username" formControlName="host_username" name="host_username" type="text" ngModel="noption">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <div>
                                            <input class="form-control" [(ngModel)]="event.location" name="location" formControlName="location" id="location" type="text" placeholder="Enter Location"> </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="exampleInputUsername">Event Description</label>
                                <div>
                                    <textarea class="form-control" [(ngModel)]="event.event_description" name="event_description" formControlName="event_description" id="event_description" rows="2" placeholder="Enter Event Description"></textarea>
    
                                    <ul class="help-block" style="color:red">
                                        <li *ngIf="form.controls.event_description.errors?.required && form.controls.event_description.dirty">This field is required</li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="max_team_members">Max Team Members</label>
                                        <div>
                                            <input class="form-control" [(ngModel)]="event.max_team_members" name="max_team_members" formControlName="max_team_members" id="max_team_members" type="number" placeholder="Enter number of maximum team members">
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="max_ideas">Max number of ideas</label>
                                        <div>
                                            <input class="form-control" [(ngModel)]="event.max_ideas" name="max_ideas" formControlName="max_ideas" id="max_ideas" type="number" placeholder="Enter number of maximum ideas that can be supported">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="prize">Prize</label>
                                        <div>
                                            <input class="form-control" [(ngModel)]="event.prize" name="prize" formControlName="prize" id="prize" type="number" placeholder="Enter prize money">
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xs-6">
                                        <div class="form-group">
                                                <label for="location">Evaluators</label>
                                                <div *ngFor="let evaluator of evaluators">
                                                    <input type="checkbox" (change)="onChange(evaluator.evaluator_username, $event.target.checked)"> {{evaluator.evaluator_username}}
                                                </div>
                                            </div>

                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputUsername">Publish</label>
                                        <div>
                                            <select class="form-control" formControlName="publish" name="publish" [(ngModel)]="event.publish">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            
    
                            <div class="box-footer">
                                <button [disabled]="!form.valid || processing" type="submit" class="btn btn-primary btn-block" value="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
    
            </section>
        </div>
    </div>