<div class="card card-register mx-auto mt-5">
    
    <div class="card-header">Configure Event</div>
     	<!-- Custom Success/Error Message -->
	  <div [ngClass]="messageClass">
      {{ message }}
    </div>
  

    <div class="form-group"  style="margin-left:20px;margin-top:20px;margin-right:20px">
        <label for="exampleInputUsername">Start Date and Time</label>
        <angular2-date-picker [ngModelOptions]="{standalone: true}" (onDateSelect)="onStartDateSelect($event)" [(ngModel)]="start" [settings]="settings"></angular2-date-picker>
    </div>
      

    <div class="form-group" style="margin-left:20px;margin-top:0px;margin-right:20px;margin-bottom:0px">
        <label for="exampleInputUsername">End Date and Time</label>
        <angular2-date-picker [ngModelOptions]="{standalone: true}" (onDateSelect)="onEndDateSelect($event)" [(ngModel)]="end" [settings]="settings"></angular2-date-picker>
    </div>
 
 
    
    <div class="card-body">
      <form [formGroup]="form" (submit)="onConfigureRegisterSubmit()">
         
           
        <div class="form-group">
        <label for="exampleInputUsername">Event Title</label>
        <div>
         <input class="form-control" [(ngModel)]="event.event_title" name="event_title" formControlName="event_title" id="event_title" type="text" placeholder="Enter Event Title">
         <ul class="help-block" style="color:red">
          <li *ngIf="form.controls.event_title.errors?.required && form.controls.event_title.dirty">This field is required</li>
          </ul>
          </div>
		    </div>
    
        <div class="form-group">
          <label for="exampleInputUsername">Host Name</label>
          <div>
            <input class="form-control" disabled [(ngModel)]="event.host_username" formControlName="host_username" name="host_username" type="text" ngModel="noption">
            </div>
          </div>
        
          <div class="form-group">
            <label for="exampleInputUsername">Event Description</label>
            <div>
             <input class="form-control" [(ngModel)]="event.event_description" name="event_description" formControlName="event_description" id="event_description" type="text" placeholder="Enter Event Description">
             <ul class="help-block" style="color:red">
              <li *ngIf="form.controls.event_description.errors?.required && form.controls.event_description.dirty">This field is required</li>
              </ul>
              </div>
            </div>

            
            

            <div class="form-group">
                <label for="location">Location</label>
                <div>
                 <input class="form-control" [(ngModel)]="event.location" name="location" formControlName="location" id="location" type="text" placeholder="Enter Location">
                 <ul class="help-block" style="color:red">
                  <li *ngIf="form.controls.location.errors?.required && form.controls.location.dirty">This field is required</li>
                  </ul>
                  </div>
                </div>

                <div class="form-group">
                    <label for="max_team_members">Max Team Members</label>
                    <div>
                     <input class="form-control" [(ngModel)]="event.max_team_members" name="max_team_members" formControlName="max_team_members" id="max_team_members" type="number" placeholder="Enter number of maximum team members">
                     <ul class="help-block" style="color:red">
                      <li *ngIf="form.controls.max_team_members.errors?.required && form.controls.max_team_members.dirty">This field is required</li>
                      </ul>
                      </div>
                    </div>
            
                    <div class="form-group">
                        <label for="exampleInputUsername">Evaluator</label>
                        <div>
                          <select class="form-control" formControlName="evaluator_username" name="evaluator_username" ngModel="noption">
                            <option value="noption" disabled>Select Evaluator</option>
                            <option *ngFor="let evaluator of evaluators"  [value]="evaluator.evaluator_username">
                              {{evaluator.evaluator_username}}
                            </option>
                          </select>
                          </div>
                        </div>
                      

        <div class="text-center">
       <button  [disabled]="!form.valid || processing" type="submit" class="btn btn-primary btn-block" value="submit">Register</button>
      </div>
      </form>
    </div>
  </div>


