<h2 class="page-header">Ongoing Events</h2>
<table class="table table-bordered table-hover table-sm table-responsive" >
    <thead>
        <tr>
            <th >Title</th>
            <th >Start Date and Time</th>
            <th >End Date and Time</th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let event of events'>
  
            <td *ngIf="event.live == 'true'"  ><a [routerLink]="['/event-page',event._id]">{{ event.event_title }}</a></td>
            <td *ngIf="event.live == 'true'"  >{{ event.start  | date: 'dd-MM-yyyy HH:mm'}}</td>
            <td *ngIf="event.live == 'true'" > {{ event.end | date: 'dd-MM-yyyy HH:mm'}}</td>
            <td *ngIf="event.live == 'true'"><a [routerLink]="['/team-registration',event._id]" class="btn btn-xs btn-primary">Register</a></td>
  
        </tr>
    </tbody>
  </table>
  <br>
  <h2 class="page-header">Future Events</h2>
  <table  class="table table-bordered table-hover table-sm table-responsive"  >
      <thead>
          <tr>
              <th >Title</th>
              <th >Start Date and Time</th>
              <th >End Date and Time</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let event of events'>
    
              <td *ngIf="event.future == 'true'"  ><a [routerLink]="['/event-page',event._id]">{{ event.event_title }}</a></td>
              <td *ngIf="event.future == 'true'"  >{{ event.start| date: 'dd-MM-yyyy HH:mm' }}</td>
              <td *ngIf="event.future == 'true'" > {{ event.end | date: 'dd-MM-yyyy HH:mm'}}</td>
              <td *ngIf="event.future == 'true'"><a [routerLink]="['/team-registration',event._id]" class="btn btn-xs btn-primary">Register</a></td>
              
              

          </tr>
      </tbody>
    </table>
<br>
  <h2 class="page-header">Archived Events</h2>
  <table  class="table table-bordered table-hover table-sm table-responsive"  >
      <thead>
          <tr>
              <th >Title</th>
              <th >Start Date and Time</th>
              <th >End Date and Time</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let event of events'>
    
              <td *ngIf="event.archived == 'true'"  ><a [routerLink]="['/event-page',event._id]">{{ event.event_title }}</a></td>
              <td *ngIf="event.archived == 'true'"  >{{ event.start | date: 'dd-MM-yyyy HH:mm'}}</td>
              <td *ngIf="event.archived == 'true'" > {{ event.end | date: 'dd-MM-yyyy HH:mm'}}</td>
              
            
          </tr>
      </tbody>
    </table>
  

  <h2 class="page-header">Registered Events</h2>
  <table  class="table table-bordered table-hover table-sm table-responsive"  >
      <thead>
          <tr>
              <th >Registration ID</th>
              <th >Username</th>
              <th >Team Name</th>
              <th >Event Title</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let team of teams'>
                <td  >{{ team._id }}</td>
              <td  >{{ team.username }}</td>
              <td  >{{ team.team_name }}</td>
              <td> {{ team.event_title}}</td>
              <td><a class="btn btn-xs btn-primary" [routerLink]="['/submit-artifact',team._id]">Submit Artifacts</a></td>
              
            
          </tr>
      </tbody>
    </table>